openai
langchain
google-search-results
streamlit
transformers
google-cloud-language
TensorFlow
tf-keras
numexpr

langchain-community
google-generativeai
InstructorEmbedding
torch
sentence-transformers==2.2.2
huggingface-hub
